<center>
    <button type="button" class="btn btn-primary btn-lg">Promociones</button>
    <button type="button" class="btn btn-success btn-lg">Paquetes</button>
    <button type="button" class="btn btn-warning btn-lg" data-toggle="modal" data-target=".configura_combo">Combos</button>
</center>