@model IEnumerable<Backoffice0._1.Models.C_sucursales>
<h4>Desvios</h4>
@{ foreach (var item in Model.Where(x => x.status_servicio==false))
    {
        <div>

            <label>@item.nombre - > @Model.Where(x => x.codigo_sucursal == "SUC002").Select(x => x.nombre).FirstOrDefault()</label>
           
        </div>
    }
}


