@model IEnumerable<Backoffice0._1.Models.C_productos_cat>
@using System.Web.Mvc.Html;

@foreach (var item in Model)
{
    <a onclick="Addcarrito(1)">
        <div class="col-md-55">
            <div class="thumbnail">
                <div class="image view view-first">
                    <img style="width: 100%; display: block;" src="/Content/production/images/4.jpg" alt="image" />
                </div>
                <div class="caption">
                    <p><strong>@Html.DisplayFor(modelItem => item.nombre)</strong>
                </div>
            </div>
        </div>
    </a>
}