@model IEnumerable<Backoffice0._1.Models.C_producto_clasificacion>
@using System.Web.Mvc.Html;

<button type="button" onclick="ConsultaCategorias()" class="btn btn-success"><</button>
<center>

    @if (Model != null)
    {


        foreach (var item in Model)
        {
            <img src="@Html.DisplayFor(modelItem=> item.imagen_pequena)" style="width:75px;" onclick="FiltraProductos(@Html.DisplayFor(modelItem => item.id_producto_clasificacion))" class="img_icon" />
        }
    }
            </center>
