
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}

<!--UTILIZAR LA MISMA PANTALLA DEL POS (Solo se puso para especificar la funcionalidad)-->

<div class="">
    <div class="page-title">
        <!--  <div class="title_left">
            <h3> Punto de venta <small> QuesiPizzas</small> </h3>
          </div>-->
        <div class="title_right">
        </div>
    </div>
    <div class="clearfix"></div>

    <div class="row">
        <div class="col-md-3 col-sm-3">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Datos cliente </h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a href="#">Settings 1</a>
                                </li>
                                <li>
                                    <a href="#">Settings 2</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="telefono...">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button">Go!</button>
                            </span>
                        </div>
                        <div class="" role="tabpanel" data-example-id="togglable-tabs">
                            <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist" style="padding:0px;">
                                <li role="presentation" class="active">
                                    <a href="#tab_content_search" id="home-tab" role="tab" data-toggle="tab" aria-expanded="true"><i class="fa fa-user"></i></a>
                                </li>
                                <li role="presentation" class="">
                                    <a href="#tab_content_new" role="tab" id="nuevo" data-toggle="tab" aria-expanded="false">Nuevo</a>
                                </li>
                                <li role="presentation" class="">
                                    <a href="#tab_content_pe" role="tab" id="especial" data-toggle="tab" aria-expanded="false">P.E</a>
                                </li>


                            </ul>
                            <div id="myTabContent" class="tab-content">
                                <div role="tabpanel" class="tab-pane fade active in" id="tab_content_search" aria-labelledby="home-tab">
                                    <table class="table table-striped ">
                                        <thead>
                                            <tr class="headings">
                                                <th class="column-title">Datos</th>
                                            
                                                <th class="bulk-actions" colspan="7">
                                                    <a class="antoo" style="color:#fff; font-weight:500;">Bulk Actions ( <span class="action-cnt"> </span> ) <i class="fa fa-chevron-down"></i></a>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="even pointer">
                                                <td class="a-center ">
                                                    <input type="radio" class="flat" name="table_records">
                                                </td>
                                                <td class=" ">Nallely Fernandez<br>Calle.Nogales #96 <br> Col.Rosales II</td>
                                                <td class=" "><i class="fa fa-pencil">Editar</i></td>

                                            </tr>
                                            <tr class="even pointer">
                                                <td class="a-center ">
                                                    <input type="radio" class="flat" name="table_records">
                                                </td>
                                                <td class=" ">Nallely Fernandez<br>Calle.Nogales #96 <br> Col.Rosales II</td>
                                                <td class=" "><i class="fa fa-pencil">Editar</i></td>
                                             
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="tab_content_new" aria-labelledby="Especial">

                                    <div class="form-group form-group has-feedback ">
                                        <input type="text" class="form-control has-feedback-right" id="inputSuccess2" placeholder="Nombre">
                                        <i class="fa fa-phone form-control-feedback right " aria-hidden="true"></i>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-8 col-sm-8 col-xs-8" style="padding:0px;">
                                            <select class="select2_single form-control" tabindex="-1">
                                                <option value="AK">C. Postal</option>
                                                <option value="HI">27000</option>
                                                <option value="CA">35158</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-12 col-sm-12 col-xs-12" style="padding:0px;">
                                            <select class="select2_single form-control" style="padding:0px;" tabindex="-1">
                                                <option style="width:500px;" value="AK">Colonia</option>
                                                <option style="width:500px;" value="HI">Colonia 2</option>
                                                <option style="width:500px;" value="CA">Colonia 3</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group form-group has-feedback col-md-8 col-sm-8 col-xs-6" style="padding:0px;">
                                        <input type="text" class="form-control has-feedback-right" id="inputSuccess2" placeholder="Calle">
                                        <i class="fa fa-phone form-control-feedback right " aria-hidden="true"></i>
                                    </div>
                                    <div class="form-group  col-md-4 col-sm-4 col-xs-4">
                                        <input type="text" class="form-control" id="inputSuccess2" placeholder="No.">
                                    </div>
                                    <div class="form-group">
                                        <div class="form-group form-group has-feedback col-md-10 col-sm-10 col-xs-10" style="padding:0px;">
                                            <input type="text" class="form-control has-feedback-right" id="inputSuccess2" placeholder="Referencia">
                                            <i class="fa fa-envelope  form-control-feedback right " aria-hidden="true"></i>
                                        </div>
                                        <div class="col-md-1 col-sm-1 col-xs-1">
                                            <a data-toggle="modal" data-target=".mapa"><i class="fa fa-map-marker fa-2x" aria-hidden="true"></i></a>
                                        </div>
                                    </div>
                                    <div class="form-group form-group has-feedback" style="padding:0px;">
                                        <input type="text" class="form-control has-feedback-right" id="inputSuccess2" placeholder="Email">
                                        <i class="fa fa-envelope form-control-feedback right " aria-hidden="true"></i>
                                    </div>
                                    <div class="form-group form-group has-feedback" style="padding:0px;">
                                        <input type="text" class="form-control has-feedback-right" id="inputSuccess2" placeholder="Evento">
                                        <i class="fa fa-birthday-cake form-control-feedback right " aria-hidden="true"></i>
                                    </div>
                                    <div class="form-group form-group col-md-6 col-sm-6 col-xs-6">
                                        <input type="text" class="form-control " id="inputSuccess2" placeholder="Fecha">
                                    </div>
                                    <div class="form-group form-group col-md-6 col-sm-6 col-xs-6">
                                        <input type="text" class="form-control " id="inputSuccess2" placeholder="Hra">
                                    </div>
                                    <div class="form-group form-group " style="padding:0px;">
                                        <input type="text" class="form-control has-feedback-right" id="inputSuccess2" placeholder="Contacto">
                                    </div>
                                    <div class="form-group form-group has-feedback">
                                        <input type="text" class="form-control has-feedback-right" id="inputSuccess2" placeholder="Telefono 1">
                                        <i class="fa fa-phone form-control-feedback right " aria-hidden="true"></i>
                                    </div>
                                    <div class="form-group form-group has-feedback">
                                        <input type="text" class="form-control has-feedback-right" id="inputSuccess2" placeholder="Telefono 2">
                                        <i class="fa fa-phone form-control-feedback right " aria-hidden="true"></i>
                                    </div>

                                    <br>
                                    <div class="col-md-12 col-sm-12 col-xs-12 col-md-offset-3">
                                        <button type="submit" class="btn btn-primary">Registrar cliente</button>
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="tab_content_pe" aria-labelledby="profile-tab">
                                    <div class="form-group form-group has-feedback ">
                                        <input type="text" class="form-control has-feedback-right" id="inputSuccess2" placeholder="Nombre">
                                        <i class="fa fa-phone form-control-feedback right " aria-hidden="true"></i>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-8 col-sm-8 col-xs-8" style="padding:0px;">
                                            <select class="select2_single form-control" tabindex="-1">
                                                <option value="AK">C. Postal</option>
                                                <option value="HI">27000</option>
                                                <option value="CA">35158</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-12 col-sm-12 col-xs-12" style="padding:0px;">
                                            <select class="select2_single form-control" style="padding:0px;" tabindex="-1">
                                                <option style="width:500px;" value="AK">Colonia</option>
                                                <option style="width:500px;" value="HI">Colonia 2</option>
                                                <option style="width:500px;" value="CA">Colonia 3</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group form-group has-feedback col-md-8 col-sm-8 col-xs-6" style="padding:0px;">
                                        <input type="text" class="form-control has-feedback-right" id="inputSuccess2" placeholder="Calle">
                                        <i class="fa fa-phone form-control-feedback right " aria-hidden="true"></i>
                                    </div>
                                    <div class="form-group  col-md-4 col-sm-4 col-xs-4">
                                        <input type="text" class="form-control" id="inputSuccess2" placeholder="No.">
                                    </div>
                                    <div class="form-group">
                                        <div class="form-group form-group has-feedback col-md-10 col-sm-10 col-xs-10" style="padding:0px;">
                                            <input type="text" class="form-control has-feedback-right" id="inputSuccess2" placeholder="Referencia">
                                            <i class="fa fa-envelope  form-control-feedback right " aria-hidden="true"></i>
                                        </div>
                                        <div class="col-md-1 col-sm-1 col-xs-1">
                                            <a data-toggle="modal" data-target=".mapa"><i class="fa fa-map-marker fa-2x" aria-hidden="true"></i></a>
                                        </div>
                                    </div>
                                    <div class="form-group form-group has-feedback" style="padding:0px;">
                                        <input type="text" class="form-control has-feedback-right" id="inputSuccess2" placeholder="Email">
                                        <i class="fa fa-envelope form-control-feedback right " aria-hidden="true"></i>
                                    </div>
                                    <div class="panel">
                                        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                            <div class="panel-body" style="padding:0px;">
                                                <div class="form-group form-group has-feedback" style="padding:0px;">
                                                    <input type="text" class="form-control has-feedback-right" id="inputSuccess2" placeholder="Evento">
                                                    <i class="fa fa-birthday-cake form-control-feedback right " aria-hidden="true"></i>
                                                </div>
                                                <div class="form-group form-group col-md-6 col-sm-6 col-xs-6">
                                                    <input type="text" class="form-control " id="inputSuccess2" placeholder="Fecha">
                                                </div>
                                                <div class="form-group form-group col-md-6 col-sm-6 col-xs-6">
                                                    <input type="text" class="form-control " id="inputSuccess2" placeholder="Hra">
                                                </div>
                                                <div class="form-group form-group " style="padding:0px;">
                                                    <input type="text" class="form-control has-feedback-right" id="inputSuccess2" placeholder="Contacto">
                                                </div>
                                                <div class="form-group form-group has-feedback">
                                                    <input type="text" class="form-control has-feedback-right" id="inputSuccess2" placeholder="Telefono 1">
                                                    <i class="fa fa-phone form-control-feedback right " aria-hidden="true"></i>
                                                </div>
                                                <div class="form-group form-group has-feedback">
                                                    <input type="text" class="form-control has-feedback-right" id="inputSuccess2" placeholder="Telefono 2">
                                                    <i class="fa fa-phone form-control-feedback right " aria-hidden="true"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="col-md-12 col-sm-12 col-xs-12 col-md-offset-3">
                                        <button type="submit" class="btn btn-primary">Registrar cliente</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-6">
            <div class="x_panel">
                <!--   <div class="x_title">
            <div class="clearfix"></div>
          </div>-->
                <div class="x_content" style="margin-bottom:-30px;">
                    <div class="row">
                        <!--    <p>Media gallery design emelents</p>-->
                        <div class="col-md-55">
                            <div class="thumbnail">
                                <div class="image view view-first" style="height:auto;">
                                    <img style="width: 100%; display: block;" src="/Content/production/images/4.jpg" alt="image" />
                                </div>
                                <div class="caption">
                                    <p><strong>Image Name</strong>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-55">
                            <div class="thumbnail">
                                <div class="image view view-first" style="height:auto;">
                                    <img style="width: 100%; display: block;" src="/Content/production/images/4.jpg" alt="image" />
                                </div>
                                <div class="caption">
                                    <p><strong>Image Name</strong>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-55">
                            <div class="thumbnail">
                                <div class="image view view-first" style="height:auto;">
                                    <img style="width: 100%; display: block;" src="/Content/production/images/4.jpg" alt="image" />
                                </div>
                                <div class="caption">
                                    <p><strong>Image Name</strong>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-55">
                            <div class="thumbnail">
                                <div class="image view view-first" style="height:auto;">
                                    <img style="width: 100%; display: block;" src="/Content/production/images/4.jpg" alt="image" />
                                </div>
                                <div class="caption">
                                    <p><strong>Image Name</strong>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-55">
                            <div class="thumbnail">
                                <div class="image view view-first" style="height:auto;">
                                    <img style="width: 100%; display: block;" src="/Content/production/images/4.jpg" alt="image" />
                                </div>
                                <div class="caption">
                                    <p><strong>Image Name</strong>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-55">
                            <div class="thumbnail">
                                <div class="image view view-first" style="height:auto;">
                                    <img style="width: 100%; display: block;" src="/Content/production/images/4.jpg" alt="image" />
                                </div>
                                <div class="caption">
                                    <p><strong>Image Name</strong>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-55">
                            <div class="thumbnail">
                                <div class="image view view-first" style="height:auto;">
                                    <img style="width: 100%; display: block;" src="/Content/production/images/4.jpg" alt="image" />
                                    <!--<div class="mask no-caption">
                              <div class="tools tools-bottom">
                                <a href="#"><i class="fa fa-link"></i></a>
                                <a href="#"><i class="fa fa-pencil"></i></a>
                                <a href="#"><i class="fa fa-times"></i></a>
                              </div>
                            </div>-->
                                </div>
                                <div class="caption">
                                    <p><strong>Image Name</strong>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="x_panel ">
                <div class="x_content">
                    <button type="button" class="btn btn-default btn-lg">Chicas</button>
                    <button type="button" class="btn btn-primary btn-lg">Medianas</button>
                    <button type="button" class="btn btn-success btn-lg">Familiares</button>
                    <button type="button" class="btn btn-info btn-lg">Combos</button>
                    <button type="button" class="btn btn-warning btn-lg">Bebidas</button>
                    <button type="button" class="btn btn-danger btn-lg">Paletas</button>
                    <button type="button" class="btn btn-dark btn-lg">Integral</button>
                </div>
            </div>
            <div id="slideshow" class="right">
                <div>
                    <img class="img_slider" src="~/Content/production/images/Prom1.jpg">
                </div>
                <div>
                    <img class="img_slider" src="~/Content/production/images/Prom2.jpg">
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-3">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Cuenta a pagar <small></small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a href="#">Settings 1</a>
                                </li>
                                <li>
                                    <a href="#">Settings 2</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <!--  <p>Add class <code>bulk_action</code> to table for bulk actions options on row select</p>-->
                    <table class="table table-striped ">
                        <thead>
                            <tr class="headings">

                                <th class="column-title">#</th>
                                <th class="column-title">Producto </th>
                                <th class="column-title">Total</th>
                              
                                <th class="bulk-actions" colspan="7">
                                    <a class="antoo" style="color:#fff; font-weight:500;">Bulk Actions ( <span class="action-cnt"> </span> ) <i class="fa fa-chevron-down"></i></a>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="even pointer">

                                <td class=" "><select><option>1</option><option>2</option></select></td>
                                <td class=" ">Al pastor chica</td>
                                <td class=" ">$69.90 </td>
                                <td>  <a href="#" class="btn btn-danger btn-xs"><i class="fa fa-remove"></i>  </a> </td>
                               
                            </tr>
                            <tr class="even pointer">

                                <td class=" "><select><option>1</option><option>2</option></select></td>
                                <td class=" ">Al pastor chica</td>
                                <td class=" ">$69.90 </td>
                                <td>  <a href="#" class="btn btn-danger btn-xs"><i class="fa fa-remove"></i>  </a> </td>
                               
                            </tr>
                            <tr class="even pointer">

                                <td class=" "><select><option>1</option><option>2</option></select></td>
                                <td class=" ">Al pastor chica</td>
                                <td class=" ">$69.90 </td>
                                <td>  <a href="#" class="btn btn-danger btn-xs"><i class="fa fa-remove"></i>  </a> </td>
                                
                            </tr>
                            <tr class="even pointer">

                                <td class=" "><select><option>1</option><option>2</option></select></td>
                                <td class=" ">Al pastor chica</td>
                                <td class=" ">$69.90 </td>
                                <td>  <a href="#" class="btn btn-danger btn-xs"><i class="fa fa-remove"></i>  </a> </td>
                              
                            </tr>

                        </tbody>
                    </table>
                    <table class="table table-striped ">

                        <tbody>
                            <tr class="even pointer">
                                <td class=" "></td>
                                <td class=" "></td>
                                <td class=" ">Subtotal</td>
                                <td class=" ">$69.90 </td>
                              
                            </tr>
                            <tr class="even pointer">
                                <td class=" "></td>
                                <td class=" "></td>
                                <td class=" ">IVA</td>
                                <td class=" ">$69.90 </td>
                                
                            </tr>
                            <tr class="even pointer">
                                <td class=" "></td>
                                <td class=" "></td>
                                <td class=" "><h2>Total</h2></td>
                                <td class=" "><h2>$69.90</h2> </td>
                             
                            </tr>
                        </tbody>
                    </table>
                    <button type="button" class="btn btn-danger" style="width: 100%;" data-toggle="modal" data-target=".pago">Pagar</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-sm-8 col-xs-8">
        </div>
    </div>
</div>
<script>$(document).ready(function() {
        $(".select2_single").select2({
          placeholder: "Select a state",
          allowClear: true
        });
        $(".select2_group").select2({});
        $(".select2_multiple").select2({
          maximumSelectionLength: 4,
          placeholder: "With Max Selection limit 4",
          allowClear: true
        });
    });
</script>