
@model Backoffice0._1.Models.M_callcenter_clientes
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}
<html>
<head>
    <script src="http://maps.google.com/maps?file=api&amp;v=2&oe=ISO-8859-1;&amp;key=AIzaSyCCr9CT3PY9xU0w-BKI91IRoxSQe4C9fEo"
            type="text/javascript"></script>
</head>

<body onload="initialize()" onunload="GUnload()">

    
    <form action="#" onsubmit="setDirections(from.value, to.value, 'es'); return false" name="form">

        Sucursal: <input type="text" size="25" id="fromAddress" name="from" />
        Domicilio:
        @using (Html.BeginForm("cargarCalles", "CALLCENTER_CLIENTES1", FormMethod.Post))
    {
        @Html.AntiForgeryToken();

    @Html.DropDownListFor(Model => Model.id, new SelectList(Model.callcenterClientesList, "ID", "CALLE", Model.calle), new { @id = "SelID" })



}
        @*<input name="to" type="text" id="toAddress" size="25" /><br>
        <br />*@
        <input type="submit" name="Submit" value="Calcular Ruta" />
        <br />
    </form>
    @*<style>
            /* Always set the map height explicitly to define the size of the div
            * element that contains the map. */
            #map {
                height: 400px;
                width: 800px;
            }
        </style>*@
    <script type="text/javascript">

        var map;
        var gdir;
        var geocoder = null;
        var addressMarker;

        function initialize() {
            if (GBrowserIsCompatible()) {
                map = new GMap2(document.getElementById("mapa_ruta"));
                map.addControl(new GLargeMapControl());
                map.addControl(new GMapTypeControl());
                gdir = new GDirections(map, document.getElementById("direcciones"));
                GEvent.addListener(gdir, "load", onGDirectionsLoad);
                GEvent.addListener(gdir, "error", handleErrors);

                setDirections("Torreon", "Matamoros", "es");

            }
        }

        function setDirections(fromAddress, toAddress, locale) {
            alert(fromAddress + " " + toAddress)
            gdir.load("from: " + fromAddress + " to: " + toAddress,
                { "locale": locale });
        }

        function handleErrors() {
            if (gdir.getStatus().code == G_GEO_UNKNOWN_ADDRESS)
                alert("Dirección no disponible.\nError code: " + gdir.getStatus().code);
            else if (gdir.getStatus().code == G_GEO_SERVER_ERROR)
                alert("A geocoding or directions request could not be successfully processed, yet the exact reason for the failure is not known.\n Error code: " + gdir.getStatus().code);
            else if (gdir.getStatus().code == G_GEO_MISSING_QUERY)
                alert("The HTTP q parameter was either missing or had no value. For geocoder requests, this means that an empty address was specified as input. For directions requests, this means that no query was specified in the input.\n Error code: " + gdir.getStatus().code);
            else if (gdir.getStatus().code == G_GEO_BAD_KEY)
                alert("The given key is either invalid or does not match the domain for which it was given. \n Error code: " + gdir.getStatus().code);
            else if (gdir.getStatus().code == G_GEO_BAD_REQUEST)
                alert("A directions request could not be successfully parsed.\n Error code: " + gdir.getStatus().code);
            else alert("An unknown error occurred.");
        }

        function onGDirectionsLoad() {
        }

    </script>
    <br />
    <div id="mapa_ruta" style="width: 710px; height: 300px; "></div>

    <div id="direcciones" style="width: 710px"></div>
    @*<div class="row">


            <div id="map"></div>
            <script>
                var map;
                var dir;
                function initMap() {
                    map = new google.maps.Map(document.getElementById('map'), {
                        center: { lat: 25.542774, lng: -103.4066 },
                        zoom: 10
                        dir = new google.maps.GDirections
                    });
                }
            </script>
            <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCCr9CT3PY9xU0w-BKI91IRoxSQe4C9fEo&callback=initMap"
                    async defer></script>
        </div>*@
</body>
</html>

