@using Backoffice0._1.Models
@model Backoffice0._1.Models.UsuarioListaViewModel
@{
    ViewBag.Title = "UserSelected";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}

<h2>UserSelected</h2>
<div>
    @Html.ActionLink("Back to List", "Index")
</div>

