
@{ if (ViewBag.detallePedidosEntregados != null)
    {
        <table>
            @foreach (var n in ViewBag.detallePedidosEntregados)
            {
                <tr>
                    <td>@n</td>
                </tr>
            }

        </table>

    }

}