
@{ if (ViewBag.detallePedidosRecibidos != null)
    {
        <table>
            @foreach (var n in ViewBag.detallePedidosRecibidos)
            {
                <tr>
                    <td>@n</td>
                </tr>
            }

        </table>

    }

}